URxvt.font: xft:monospace:size=11
URxvt.scrollBar: false
urxvt*transparent: true
urxvt*shading: 32
!urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0200/c800
urxvt*blurRadius: 10

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

rofi.opacity: 85
